body {
  background-image: url('https://images.unsplash.com/photo-1464925257126-6450e871c667?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
  font-family: 'Helvetica Neue', sans-serif, Arial;
  background-repeat: no-repeat;
  z-index: -1;
  background-attachment: fixed;
}

h1 {
  color: tomato;
}

.search {
  background-color: silver;
  width: 50rem;

  color: black;
}

.card {
  background-color: tomato;
  box-shadow: 5px cadetblue;
}

/* #1c366b */
